* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
}

.center {
    padding-left: calc(50% - 1680px / 2);
    padding-right: calc(50% - 1680px / 2);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}


.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 152px;
    height: 24px;
}

.nav_center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav_link {
    color: var(--Brand-Primary, #052838);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.nav_link:hover {
    border-bottom: 1px solid var(--Brand-Primary, #052838);
}

.nav_link_active {
    border-bottom: 1px solid var(--Brand-Primary, #052838);
}


.tel_number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px 12px;
    border-radius: 12px;
    background: var(--Brand-Primary, #052838);
    color: var(--Grayscale-000, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    width: 202px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.tel_number:hover {
    background: var(--Brand-Hover, #0C3D54);
}

.tel_number:active {
    background: var(--Brand-Pressed, #041A24);
}

.tel_number:disabled {
    background: var(--Grayscale-100, #F7F8FA);
    color: var(--Grayscale-400, #999EAD);
}


.phone_icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    fill: var(--Grayscale-000, #FFF);

}

.hero {
    height: 1020px;
    background-image: url(img_2/imgs/img_build_block_1.jpg);
    background-repeat: no-repeat;
    background-position: right 0;
}

.hero_content {
    height: 936px;
}

.hero_info {
    flex: 1 0 0;
    display: flex;
    width: 788px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 220px;
    gap: 20px;
}

.title {
    color: var(--Brand-Primary, #052838);
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 110px;
}

.text_big {
    color: var(--Secondary, #375360);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.mb_text {
    margin-bottom: 20px;
}

.button_without_icon {
    width: 260px;
    padding: 16px 24px;
    border-radius: 12px;
    background: var(--Brand-Primary, #052838);
    color: var(--Grayscale-000, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: none;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.button_without_icon:hover {
    background: var(--Brand-Hover, #0C3D54);
}

.button_without_icon:active {
    background: var(--Brand-Pressed, #041A24);
}

.button_without_icon:disabled {
    background: var(--Grayscale-100, #F7F8FA);
    color: var(--Grayscale-400, #999EAD);
}

.heading {
    min-width: 400px;
    align-self: stretch;
    color: var(--Brand-Primary, #052838);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

.text_about {
    align-self: stretch;
    color: var(--Secondary, #375360);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    min-width: 400px;
    max-width: 788px;
    align-self: stretch;
    justify-content: center;
}

.about {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
    gap: 64px;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
}

.margin_bottom {
    margin-bottom: 24px;
}

.text {
    color: var(--Secondary, #375360);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 700px;
    align-self: stretch;
}


.portfolio_slider {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-top: 40px;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    width: 544px;
    border-radius: 12px;
}

.card_image {
    width: 100%;
    height: 400px;
    border-radius: 12px 12px 0 0;
}

.card_content {
    display: flex;
    width: 544px;
    height: 144px;
    padding: 20px 24px 44px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    background: var(--Brand-Primary, #052838);
    border-radius: 0 0 12px 12px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.card:hover .card_content {
   background: var(--Brand-Hover, #0C3D54);
}

.arrow_icon_down:active {
background: var(--Grayscale-300, #D7DAE2);
}

.arrow_icon_down:disabled {
background: var(--Grayscale-100, #F7F8FA);
    color: var(--Grayscale-400, #999EAD);
}

.subtitle {
    align-self: stretch;
    color: var(--Grayscale-000, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text_description {
    align-self: stretch;
    color: var(--Grayscale-300, #D7DAE2);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.arrow_left_slider {
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background: var(--Brand-Primary, #052838);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.arrow_left_slider:hover {
    background: var(--Brand-Hover, #0C3D54);
}

.arrow_left_slider:active {
    background: var(--Brand-Pressed, #041A24);
}

.arrow_left_slider:disabled {
    background: var(--Grayscale-100, #F7F8FA);
    color: var(--Grayscale-400, #999EAD);
}

.arrow_icon_left_right {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.arrow_right_slider {
    position: absolute;
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background: var(--Brand-Primary, #052838);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.arrow_right_slider:hover {
    background: var(--Brand-Hover, #0C3D54);
}

.arrow_right_slider:active {
    background: var(--Brand-Pressed, #041A24);
}

.arrow_right_slider:disabled {
    background: var(--Grayscale-100, #F7F8FA);
    color: var(--Grayscale-400, #999EAD);
}

.progress_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    margin-bottom: 40px;
}

.progress_text {
    color: var(--Brand-Primary, #052838);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.progress_current {
    color: var(--Grayscale-400, #999EAD);
}

.progress_lines {
    width: 400px;
    height: 2px;
    background: var(--Grayscale-300, #D7DAE2);
}

.progress_line_aktive {
    width: 50%;
    height: 100%;
    background: var(--Brand-Primary, #052838);
}

.button_right {
    display: flex;
    width: 260px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    background: var(--Brand-Primary, #052838);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.button_with_icon {
    color: var(--Grayscale-000, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    background: none;
    border: none;

}

.button_right:hover {
    background: var(--Brand-Hover, #0C3D54);
}

.button_right:active {
    background: var(--Brand-Pressed, #041A24);
}

.button_right:disabled {
    background: var(--Grayscale-100, #F7F8FA);
    color: var(--Grayscale-400, #999EAD);
}

.arrow_icon_right {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.certifications_credentials {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
}

.certifications_block {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
}

.certification_card {
    width: 544px;
    min-height: 280px;
    border-radius: 12px;
    background: var(--Brand-Primary, #052838);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.certification_card:hover {
   background: var(--Brand-Hover, #0C3D54);
}

.certification_top {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text_white {
    color: var(--Grayscale-300, #D7DAE2);
}

.text_grey {
    color: var(--Grayscale-400, #999EAD);
}

.certifications_bage {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.certifications_icon {
    width: 88px;
    height: 88px;
    aspect-ratio: 1/1;
}

.not_bage {
    display: flex;
    justify-content: flex-end;
}

.certifications_winner {
    color: var(--Grayscale-300, #D7DAE2);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid var(--Grayscale-000, #FFF);
    display: inline-flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
}

.trusted_partners {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    padding-top: 120px;
    padding-bottom: 120px;
}

.partner_slider {
    display: flex;
    margin-bottom: 60px;
    margin-top: 40px;
    position: relative;
}

.card_partner {
    display: flex;
    width: 1680px;
    flex-direction: column;
}

.card_image_partner {
    width: 100%;
    height: 376px;
    border-radius: 12px 12px 0 0;

}

.card_content_partner {
    display: flex;
    height: 208px;
    padding: 20px 24px 44px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    background: var(--Brand-Primary, #052838);
    border-radius: 0 0 12px 12px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.card_partner:hover .card_content_partner{
   background: var(--Brand-Hover, #0C3D54);
}

.text_partner {
    color: var(--Grayscale-300, #D7DAE2);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    max-width: 800px;
    align-self: stretch;
}

.arrow_icon_down {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--Grayscale-100, #F7F8FA);
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.arrow_icon_down:hover {
background: var(--Grayscale-200, #F2F4F8);
}

.arrow_icon_down:active {
background: var(--Grayscale-300, #D7DAE2);
}

.arrow_icon_down:disabled {
background: var(--Grayscale-100, #F7F8FA);
    color: var(--Grayscale-400, #999EAD);
}



.faq {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_item {
    border-bottom: 1px solid var(--Grayscale-300, #D7DAE2);
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.faq_answer_text {
    margin-bottom: 32px;
}

.faq_answer_text_none {
    display: none;
}


.faq_item_open.faq_answer {
    display: block;

}

.faq_item_open .faq_arrow {
    transform: rotate(180deg);
}


.faq_close {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    padding-top: 32px;
    padding-bottom: 32px;
}

.faq_open {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    padding-top: 32px;
}

.subtitle_black {
    color: var(--Brand-Primary, #052838);
}

.faq_content {
    width: 828px;
}

.heading_faq {
    width: 788px;
}


.start_your_project {
    padding-bottom: 120px;
    padding-top: 120px;
}

.start_box_content {
    display: flex;
    padding: 60px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 60px;
    align-self: stretch;
    flex-wrap: wrap;
    border-radius: 24px;
    background: var(--Brand-Primary, #052838);

}

.text_heading {
    color: var(--Grayscale-000, #FFF);
}

.start_text {
    width: 100%;
    color: var(--Grayscale-300, #D7DAE2);
}

.start_text_mb {
    margin-bottom: 12px;
}

.start_text_mb_text {
    margin-bottom: 40px;
}

.text_important {
    color: var(--Grayscale-400, #999EAD);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    width: 484px;
}

.image_start {
    width: 768px;
    height: 530px;
    border-radius: 10px;
}

.start_content {
    display: flex;
    width: 626px;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    gap: 20px;
    margin-bottom: 16px;
}

.start_input {
    display: flex;
    padding: 16px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 12px;
    font-family: "Outfit", sans-serif;
    border: 1px solid var(--Secondary, #375360);
    color: var(--Grayscale-100, #F7F8FA);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background: var(--Brand-Primary, #052838);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.start_input::placeholder {
    color: var(--Grayscale-400, #999EAD);
}

.start_input:hover {
background: var(--Brand-Hover, #0C3D54);
border: none;
}

.input_button {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--Grayscale-000, #FFF);
    color: var(--Brand-Primary, #052838);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.input_button:hover {
    background: var(--Grayscale-100, #F7F8FA);
}

.input_button:active {
    background: var(--Grayscale-200, #F2F4F8);
}

.input_button:disabled {
    background: var(--Grayscale-100, #F7F8FA);
    color: var(--Grayscale-400, #999EAD);
}



.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid #D7DAE2;
    display: flex;
    width: 1920px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer_left {
    display: flex;
    width: 263px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    gap: 66px;
}

.footer_left_top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.text_footer {
    color: var(--Secondary, #375360);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer_bottom_left {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.icon_footer {
    transition: all 0.5s ease;
}

.icon_footer:hover {
border: 1px solid var(--Secondary, #375360);
}

.nav_link_footer {
    color: var(--Secondary, #375360);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.nav_link_footer:hover {
    border-bottom: 1px solid var(--Brand-Primary, #052838);
}

.nav_fotter_center {
    display: flex;
    width: 546px;
    align-items: flex-start;
    flex-shrink: 0;
    column-gap: 86px;
    flex-wrap: wrap;
    row-gap: 24px;
}

.footer_subtitle {
    color: #052838;
}

.footter_right {
    display: flex;
    width: 547px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer_right_top {
    display: flex;
    min-width: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.input_footer {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    gap: 12px;
}

.footer_input_bottom {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    flex: 1 0 0;
    font-family: Outfit;
    border-radius: 8px;
    border: 1px solid var(--Grayscale-300, #D7DAE2);
    color: var(--Grayscale-400, #999EAD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
}


.footer_input_bottom:placeholder-shown {
color: var(--Brand-Primary, #052838);
background: var(--Grayscale-100, #F7F8FA);
border: 1px solid var(--Grayscale-300, #D7DAE2);
background: #FFF;
}


.footer_input_bottom:focus {
border: 1px solid var(--Accent, #3F73FF);
background: #FFF;
}

.footer_input_bottom::placeholder {
    color: var(--Grayscale-400, #999EAD);
}

.footer_input_bottom:hover {
border: 1px solid var(--Brand-Primary, #052838);
background: var(--Grayscale-100, #F7F8FA);
}


.input_button_footer {
    display: flex;
    height: 44px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #052838;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.input_button_footer:hover {
    background: var(--Brand-Hover, #0C3D54);
}

.input_button_footer:active {
    background: var(--Brand-Pressed, #041A24);
}

.input_button_footer:disabled {
    background: var(--Grayscale-100, #F7F8FA);
    color: var(--Grayscale-400, #999EAD);
}

